.btn.btn-danger.posts {
    margin-top: 40px;
}
.buttonAlign {
    margin: 5px 20px;
    text-align:center;
}
.posts {
    margin: 10px 25px;
    text-align: justify;
}
.postContent {
    margin-bottom: 10px;
}
